
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr; /* Header takes the space it needs, main feed takes the rest */
  grid-template-columns: 1fr 250px; /* Main feed takes the remaining space, sidebar is 250px */
  grid-template-areas:
    "header header"
    "main sidebar";
  height: 100vh; /* Full viewport height */
}

.header {
  grid-area: header;
  background-color: #333;
  color: white;
  padding: 20px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #f4f4f4;
  padding: 20px;
}

.navlink-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.activeNavLink {
  background-color: aqua;
}

.inactiveNavLink {
  background-color: auto;
}

.main-feed {
  grid-area: main;
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
}

.post {
  margin: 20px;
}

.post-footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
